:root {
	--primary-light: #ddd;
	--primary-dark: #03022a;
	--secondary-light: #f5c211;
	--secondary-light-hover: #f0db8f00;
	--secondary-light-active: #ffc80000;
	--footer: #a11163;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: casino3DMarquee;
	src: url("/fonts/Casino3DMarqueeRegular-d9A2V.ttf");
}

body {
	text-align: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: url("/img/casino-background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

/* HEADER */

.title {
	font-family: "Press Start 2P", cursive;
	font-style: normal;
	font-weight: normal;
	color: var(--primary-light);
	text-align: center;
}

#game-title {
	font-family: Bungee, sans-serif;
	font-size: 60px;
	background-color: var(--primary-dark);
	text-shadow: 2px 2px var(--footer), -5px -5px var(--footer);
	padding: 5px;
}

/* MAIN */

.game-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	align-self: center;
}

.casino-style {
	font-family: "casino3DMarquee", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	margin: 0;
	color: var(--secondary-light);
	text-align: center;
}

.score-container {
	display: flex;
	justify-content: space-around;
	gap: 50px;
	margin: 20px;
}

.choice-container {
	border: var(--primary-light);
	border-style: solid;
	height: 200px;
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
}

.playerpick,
.comppick {
	width: 200px;
	height: 200px;
}

#player,
#comp {
	width: 50%;
	height: auto;
}

#game-info {
	height: 150px;
	width: auto;
	padding: 30px;
	margin: 10px;
	border-radius: 0px;
	/* overflow-y: scroll; */
	font-size: 12px;
}

.buttons-container {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	padding: 20px;
	margin-top: 20px;
}

input {
	cursor: pointer;
	height: 150px;
	width: 150px;
}

input:hover {
	/* background-color: var(--secondary-light-hover); */
	border-radius: 50%;
	padding: 10px;
}

input:active {
	/* background-color: var(--secondary-light-active); */
	transform: translateY(20px);
}

/* FOOTER */

.footer {
	background-color: var(--footer);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}
